<div class="container">
  <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" routerLink="/add-item">Add Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" routerLink="/view-item">View Item</a>
    </li>
  </ul>
  <div *ngIf="noItemsInList">
    There are no items in the list! Go add some!
  </div>

  <ul class="list-group list-item-custom" *ngFor="let item of todoItems">
    <li class="list-group-item" [ngClass]="{'list-group-item-success': item.is_completed, 'list-group-item-danger': !item.is_completed}">{{
      item.text }}
      <span class="action-button " type="button" (click)="updateTodoItem(item.id, false)" *ngIf="!item.is_completed">Mark
        as done.</span>
      <span class="action-button" type="button" (click)="updateTodoItem(item.id, true)" *ngIf="item.is_completed">Mark
        incomplete.</span>
      <span class="action-button" type="button" (click)="deleteTodoItem(item.id)">Delete</span>
    </li>
  </ul>
</div>